# Database
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Auth
JWT_SECRET=

# App
PORT=4000

# Stream Chat
STREAM_API_KEY=
STREAM_API_SECRET=

# Supabase
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET_NAME=

# Midtrans
MIDTRANS_SERVER_KEY=
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
MIDTRANS_SNAP_URL=https://app.sandbox.midtrans.com/snap/snap.js
